body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .dialpad-container {
    background: #020617;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.5);
  }
  
  .screen input {
    width: 100%;
    height: 50px;
    font-size: 22px;
    background: #020617;
    border: none;
    color: #22c55e;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .keys {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }
  
  .keys button {
    background: #1e293b;
    color: white;
    border: none;
    border-radius: 50%;
    height: 70px;
    font-size: 22px;
    cursor: pointer;
    transition: 0.15s;
  }
  
  .keys button span {
    display: block;
    font-size: 10px;
    color: #94a3b8;
  }
  
  .keys button:active {
    background: #22c55e;
    transform: scale(0.95);
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  .actions button {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  #call {
    background: #22c55e;
    color: black;
  }
  
  #clear {
    background: #ef4444;
    color: white;
  }
  
  #backspace {
    background: #334155;
    color: white;
  }
  